.animated-button {
	color: #FFF;
	cursor: pointer;
	display: block;
	position: relative;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 0;
}
.animated-button:hover {
	color: #000;
}
.animated-button_orange:hover {
  color: #FFF;
}
.animated-button:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
.animated-button:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000;
	background: #FFF;
	transition: all 0.4s ease-in-out;
}
.animated-button_orange::before {
  color: #FFF;
  background: #FF8149;
}