.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.footer__wrapper {
  width: 80%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
}
.footer__title {
  color: #111;
  font-family: 'Cormorant';
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
}
.footer__items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__item {
  display: flex;
}
.footer__text {
  color: #666;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 0 0 5px;
}
.footer__text_form {
  font-style: italic;
}
.footer__link {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.footer__link:hover {
  color: #FF8149;
  letter-spacing: 1.5px;
}
.footer__item .mdi {
  margin-right: 10px;
  font-size: 18px;
}
.footer__title .mdi {
  font-size: 22px;
  margin-right: 10px;
}
.footer__form-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.footer__input {
  display: block;
  flex: 1 1 auto;
  padding: 10px;
  margin: 0;
  border: none;
  outline: none;
}
.footer__button {
  display: block;
  width: 110px;
  height: 45px;
  background-color: #222;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  border: none;
}
.footer__container {
  width: 100%;
  background-color: #222;
}
.footer__copy {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__copy-left {
  display: flex;
  align-items: center;
}
.footer__copy-text {
  color: #FFF;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1px;
}
.footer__copy-right {
  display: flex;
  align-items: center;
}
.footer__copy-social {
  color: #FFF;
  font-size: 15px;
  margin-right: 30px;
  transition: all 0.4s ease-in-out;
}
.footer__copy-social:hover {
  color: #FF8149;
}
.footer__dropdown {
  width: 80%;
  margin: 0 auto 80px;
}
.footer__dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 0 10px;
  transition: all 0.4s ease-in-out;
}
.footer__dropdown-btn .footer__title {
  margin: 0;
}
.footer__dropdown-btn_active {
  background-color: #e5e5e5;
  border-radius: 10px;
}
.footer__dropdown-btn_active .mdi{
  transform: rotate(180deg);
}
.footer__dropdown-items {
  padding: 0 15px;
  margin: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.footer__dropdown_hidden {
  display: none;
}
.footer__dropdown-items_hidden {
  height: 0 !important;
  visibility: hidden;
}
@media (max-width: 991px) {
  .footer__column_d {
    display: none;
  }
  .footer__wrapper {
    display: flex;
    margin-bottom: 10px;
  }
  .footer__dropdown_hidden {
    display: block;
  }
  .footer__copy {
    justify-content: center;
    max-width: 784px;
    width: 100%;
  }
  .footer__copy-left {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .footer__copy {
    flex-direction: column;
    align-items: center;
  }
  .footer__copy-left {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footer__copy-right {
    margin-bottom: 10px;
  }
}