
.main-menu__items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 40px;
}
.main-menu__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 30px;
  font-family: 'Cormorant';
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.main-menu__text {
  margin: 0 5px 0;
  margin-right: 5px;
}
.main-menu__alert {
  position: absolute;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 10px;
  top: -25px;
  right: -15px;
  padding: 3px 5px;
  letter-spacing: 1px;
  color: white;
  background-color: black;
}
